<% layout( 'layout') -%>
    
    <div class="header-bg">
             
        <h2 class="container welcome-page-container">
            <span class="glyphicon glyphicon-ok" aria-hidden="true">

            </span>
            <strong>Thank you for providing your response for the <%= team %> team.</strong>
        </h2>     
    </div>

    
    <div class="container form-group">
       <form class="form-horizontal" action="/feedback" method="post">
        <input type="hidden" name="selectedTeamName" value="<%= team %>" />   

    <%if(typeof success=='undefined'){%>
    <div class="container form-group feedbackFormContainer" >

        <h3><label for="comments">Please provide any additional feedback:</label></h3>
        <div>
            <textarea name="feedbacktext" class="form-control" id="comments" placeholder="Enter comments" required="" rows="5" type="text" required></textarea>              
            <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>          
        </div>
    </div>

    </form>
    

    <%}else{%>
        <style>
            .header-bg{
                margin-bottom: -15px;
            }
        </style>
        <%}%>
</div>
    <div class="container-fluid welcome-page-lower-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>What would you like to do?</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-lg" href="/teams">
                                    Rate a Product
                                    </a>
                            <span class="or">or</span>
                            <a class="btn btn-primary btn-lg" href="/results">
                                    View Leaderboard
                                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% block( 'head').append( '<link type="text/css" rel="stylesheet" href="/css/feedback.css">') %>