<% layout( 'layout') -%>


<%if(typeof errMsg != 'undefined'){%>
<div class="alert alert-danger center loginErrMsg" role="alert"><%=errMsg%></div>
<%}%>

      <div class="container-fluid welcome-page-wrapper">
        <div class="container welcome-page-container">
              <div class="row">
                    <div class="col-md-8">
                          <h1>Welcome to "Where's the Beef?"</h1>
                          <p>The first ever agile "Steak"-holder engagement application.  Provide real time feedback to the agile teams you track.</p>
                    </div>
                    <div class="col-md-4">
                          <img src="/img/thecow.png" class="img-responsive">
                    </div>
              </div>
              <div class="row">
                    <div class="col-md-4">
                          <h1>1.</h1>
                          <p>Play with the latest and greatest Eze Products in their most cutting-edge state.</p>
                    </div>
                    <div class="col-md-4">
                          <h1>2.</h1>
                          <p>Provide feedback and rate the product with our ultra slick and simple rating system.</p>
                    </div>
                    <div class="col-md-4">
                          <h1>3.</h1>
                          <p>Check the leaderboard to see who is winning and pleasing their "steak"-holders</p>
                    </div>
              </div>
          </div>
        </div>
        <% block( 'head').append( '<link type="text/css" rel="stylesheet" href="/css/welcome.css">') %>