<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>
        <%=title %>
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
   
   
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <%- block('head').toString() %>
     <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive pull-left beef-map" src="/img/thecow.png" />
                <%if(typeof(session.user)=='undefined' ){%>
                    <a class="navbar-brand" href="/">Where's the Beef?</a>
                <%} else{%>
                    <a class="navbar-brand" href="/welcome">Where's the Beef?</a>
                <%}%>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%if(typeof(session.user)=='undefined' ){%>
                    <form action="/login" class="navbar-form navbar-right" method="POST">
                        <div class="form-group">
                            <input type="text" placeholder="Eze Username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                    <%} else{%>
                        <ul class="nav navbar-nav">
                            <li><a href="/teams">Rate Product</a></li>
                            <li><a href="/results">Leaderboard</a></li>
                        </ul>
                        <div class="navbar-form navbar-right navbar-username userInfo">
                            <div class="userPhoto">
                                <img class="user-avartar img-rounded" src="/img/userPhotos/<%=session.user.sAMAccountName%>.jpg">
                            </div>
                            <div class="userDisplayInfo">
                                <div class="userDisplayName">
                                    <%=session.user.displayName%>
                                </div>
                                <div class="userDepartment">
                                    [
                                    <%=session.user.department%>]
                                </div>
                            </div>
                            <div class="signOff">
                                <a href="/logout">Sign Off</a>
                            </div>
                        </div>
                        <%}%>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <%- body -%>
        <div class="container">
            <footer>
                <p class="text-center">&copy; Eze Software Group 2015</p>
            </footer>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript==================================================- ->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
       
       
        <%-block('scripts').toString() %>
</body>

</html>
