<% layout( 'layout') -%>

    <div class="header-bg rating-header">    
        <h2 class="container welcome-page-container rating-header">
            <strong><%= team %> Rating</strong>
        </h2>
    </div>
 
 <style>
    .carousel{height:100px}
    .carousel-indicators{display: none;}
    .rating-header{margin-bottom: 0px;}
</style>

<!-- Jira Versions/Goals Charts -->
<div ng-app='ratingApp'>
  <div ng-controller='goalsCtrl'>
    <div ng-show="loading">
      <center>Loading Goals from Jira <i class="fa fa-spinner fa-spin fa-2x" ng-show="loading"></i></center>
    </div>
    <carousel interval=5000 no-wrap=false>
      <slide ng-repeat="g in goalData">
        <h4><a href="{{g.href}}" target="_blank">{{g.name}}</a></h4>
        <p>{{g.description}}</p>
      </slide>
    </carousel>
  </div>
</div>
  
<div class="container">
	<div class="row">
         
          <div class="col-md-6 col-md-offset-3">

            <form class="form-horizontal" action="/ratings" method="post">
             
             <div class="">
              <h3 class="vote-question">I understand what they are doing.</h3>
              <div class="form-group">
               
                
                <label for="understandSlider" class=" control-label disagree">Disagree</label>
                <label for="understandSlider" class=" control-label agree">Agree</label>
                </div>
                
                <div class="">
                  <input class="form-control" name="understandSlider" id="understandSlider" data-slider-id='dataUnderstandSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-handle="custom"/>
                </div>
                
              </div>
              
<!--              <br>-->
             
            <div class="">
              <h3 class="vote-question">I agree with the priorities.</h3>
              <div class="form-group">
               
                
                <label for="understandSlider" class=" control-label disagree">Disagree</label>
                <label for="understandSlider" class=" control-label agree">Agree</label>
                </div>
                
                <div class="">
                  <input class="form-control" name="agreeSlider" id="agreeSlider" data-slider-id='dataAgreeSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-handle="custom"/>
                </div>
                
              </div>
              
            <div class="">
              <h3 class="vote-question">I like what I see.</h3>
              <div class="form-group">
               
                
                <label for="understandSlider" class=" control-label disagree">Disagree</label>
                <label for="understandSlider" class=" control-label agree">Agree</label>
                </div>
                
                <div class="">
                  <input class="form-control" name="likeSlider" id="likeSlider" data-slider-id='dataLikeSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-handle="custom"/>
                </div>
                
              </div>
             
             
             
             
             
             
             
             
<!--
              <div class="form-group col-md-6 col-md-offset-3">
              <h3 class="vote-question">I agree with the priorities.</h3>
              
                <label for="agreeSlider" class="col-md-2 control-label">Disagree</label>
                <label for="agreeSlider" class="col-md-1 control-label agree">Agree</label>
                
                 <div class="">
                  <input class="form-control" name="agreeSlider" id="agreeSlider" data-slider-id='dataAgreeSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-handle="custom"/>
                </div>
                
              </div>
              

              <div class="form-group col-md-6 col-md-offset-3">
              <h3 class="vote-question">I like what I see.</h3>
              
                <label for="likeSlider" class="col-md-2 control-label">Disagree</label>
                <label for="likeSlider" class="col-md-1 control-label agree">Agree</label>
                 <div class="">
                  <input class="form-control" name="likeSlider" id="likeSlider" data-slider-id='dataLikeSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-handle="custom"/>
                </div>
                
              </div>
-->
              
              

              <div class="form-group">

                  <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>

              </div>
              <input type="hidden" name="teamName" value="<%= team %>" />
            </form>

         </div>
      </div>
</div>


<% block('scripts').append('<script src="/bower_components/angular/angular.min.js"></script>') %>
 <!-- Bootstrap Slider -->
<% block('scripts').append('<script src="/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>')%>
<script>var teamPassToAngular = '<%= team %>';</script>
<% block('scripts').append('<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>') %>
<% block('scripts').append('<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>') %>
<% block('scripts').append('<script src="/scripts/rating.js"></script>') %>

 <!-- Bootstrap Slider -->
<% block('head').append('<link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">')%>
  

