<% layout('layout') -%>

<div ng-app='beefApp'>

    <div class="header-bg">    
        <div class="container welcome-page-container">
          <h2>
            <strong>The Leaderboard</strong>
        </h2>
        <h3>
            <strong>Compete to make your "steak"-holders engaged and happy!</strong>        
        </h3>
        </div>
    </div>

<div ng-controller='AccordionTeams' class="container">
 
  <center><i class="fa fa-spinner fa-spin fa-4x" ng-show="loading"></i></center>
  <accordion ng-show="!loading">
    <accordion-group  ng-repeat="t in teams" is-open="t.isOpen">
     
      <accordion-heading>
       
        <div class="pull-left">
          <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': t.isOpen, 'glyphicon-chevron-right': !t.isOpen}"></i>
          
          <span class="rank-label">{{t.rankText}}</span>
        
        </div>
        
        <span class="rank-title">{{t.TeamName}}</span>
        
<!--        <div class="pull-right">-->
          
          
<!--          <span class="confidence">{{t.ConfidenceIndex}}</span>-->
          
          <div class="confidence pull-right">
              <span>CONFIDENCE</span>
              <span class="confidence-value">{{t.ConfidenceIndex}}</span>
          </div>
          
          <span class="label label-default pull-right">{{t.meatText}}</span>
<!--
          <div class="">
          <span>CONFIDENCE</span>
          <span class="confidence">{{t.ConfidenceIndex}}</span>
          </div>
-->
<!--        </div>-->
        
      </accordion-heading>
      
      <!-- This is the main part for the teams in the drop-down -->
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 metric-group">
             
             <div class="metric-tile happiness">
             <h5>Happiness</h5>
             <h6>{{t.ConfidenceIndexHappiness}}</h6>
             </div>
             
             <div class="metric-tile direction">
             <h5>Direction</h5>
             <h6>{{t.ConfidenceIndexDirection}}</h6>
             </div>
             
             <div class="metric-tile ux">
             <h5>UX</h5>
             <h6>{{t.ConfidenceIndexUX}}</h6>
             </div>         
                        
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <h3>Confidence History</h3>
                  <nvd3 options="confidenceOptions" data="teamConfidenceData[t.TeamName]"></nvd3>
                </div>
                <div class="col-lg-6">
                  <h3>Engagement History</h3>
                  <nvd3 options="rateOptions" data="teamRateData[t.TeamName]"></nvd3>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
         
         <h3>Recent Comments</h3>
         
          <ul ng-repeat="f in t.feedbacks" class="feedback-text">
          <li><i>"{{f.FeedbackValue}}"</i> <span class="feedback-user">- {{f.UserDisplayName}} [{{f.Department}}]</span></li>
          </ul>
        </div>
        
        
      </div>
      <div class="row">
        <div class="col-lg-3">
        <h3>Most Recent Feedback</h3>
        <ul ng-repeat="item in t.mostrecents">
            
            <li class="rating-item">
            
          
            <span>{{item.Department}}</span>
            
            <div class="pull-right">
                <span class="summary-item happiness">{{item.ConfidenceIndexHappiness}}</span>
                <span class="summary-item direction">{{item.ConfidenceIndexDirection}}</span>
                <span class="summary-item ux">{{item.ConfidenceIndexUX}}</span>
            </div>
          
            </li>
        </ul>
        </div>
        <div class="col-lg-3">
        <h3>No Recent Feedback</h3>
        <ul ng-repeat="item in t.notseenrecently">
         
            <li class="rating-item">
            
          
            <span>{{item.Department}}</span>
            
            <div class="pull-right">
                <span class="summary-item happiness">{{item.ConfidenceIndexHappiness}}</span>
                <span class="summary-item direction">{{item.ConfidenceIndexDirection}}</span>
                <span class="summary-item ux">{{item.ConfidenceIndexUX}}</span>
            </div>
          
            </li>
        </ul>
        </div>
        <div class="col-lg-3">
        <h3>Most Happy</h3>
        <ul ng-repeat="item in t.mostHappy">
            <li class="rating-item">
            
          
            <span>{{item.Department}}</span>
            
            <div class="pull-right">
                <span class="summary-item happiness">{{item.ConfidenceIndexHappiness}}</span>
                <span class="summary-item direction">{{item.ConfidenceIndexDirection}}</span>
                <span class="summary-item ux">{{item.ConfidenceIndexUX}}</span>
            </div>
          
            </li>
        </ul>
        </div>
        <div class="col-lg-3">
        <h3>Least Happy</h3>
        <ul ng-repeat="item in t.leastHappy">
            <li class="rating-item">
            
          
            <span>{{item.Department}}</span>
            
            <div class="pull-right">
                <span class="summary-item happiness">{{item.ConfidenceIndexHappiness}}</span>
                <span class="summary-item direction">{{item.ConfidenceIndexDirection}}</span>
                <span class="summary-item ux">{{item.ConfidenceIndexUX}}</span>
            </div>
          
            </li>
        </ul>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
</div>

<% block('scripts').append('<script src="/bower_components/angular/angular.min.js"></script>') %>
<% block('scripts').append('<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>') %>
<% block('scripts').append('<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>') %>
<% block('scripts').append('<script>var username = \''+session.user.sAMAccountName+'\';var authtoken=\''+session.authtoken+'\';</script>') %>
<!-- d3, nvd3 and charts -->
<% block('scripts').append('<script src="bower_components/d3/d3.js"></script>') %>
<% block('scripts').append('<script src="bower_components/nvd3/nv.d3.js"></script>') %>
<% block('scripts').append('<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>') %>
<% block('scripts').append('<script src="/scripts/results.js"></script>') %>

  <!-- d3, nvd3 and charts -->
<% block( 'head').append( '<link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">') %>
<% block( 'head').append( '<link type="text/css" rel="stylesheet" href="/css/results.css">') %>
