<% layout( 'layout') -%>

    
    <div class="header-bg">    
        <h2 class="container welcome-page-container">
            <strong>Which Product would you like to rate?</strong>
        </h2>
    </div>
    

    
    
    <div class="container">
     <% for(var i=0; i<results.rows.length; i++) { %>
            <div class="col-lg-4 team-page-tile">
                <div class="team-page-panel">
                    <div>

                        <div class="">
                            <label>
                                <%=results.rows[i].Name %>
                            </label>
                        </div>
                    </div>
                    <div>
                      <a href="http://devims.ezesoft.com/app/platform/#/home" target="_blank" class="btn btn-default col-sm-12 team-page-button">Launch Demo</a>
                    </div>
                    <div>
                        <a href="/ratings/<%=results.rows[i].Name %>" class="btn btn-primary col-sm-12 team-page-button">Rate
                        <%=results.rows[i].Name %>
                    </a>
                    </div>
                </div>
            </div>
            <% } %>
            </div>    

    <% block( 'head').append( '<link type="text/css" rel="stylesheet" href="/css/teams.css">') %>