<% layout( 'layout') -%>
    <div class="container-fluid welcome-page-wrapper">
        <div class="container welcome-page-container">
            <div class="row">

                <div class="col-md-8">
                    <h1>Hello <%=session.user.givenName%>,</h1>
                    <p>Welcome to "Where's the Beef?", the one and only agile "steak"-holder enagement app.</p>
                    <p>Provide real time feedback to the agile teams you track.</p>
                </div>
                <div class="col-md-4">
                    <img src="/img/thecow.png" class="img-responsive">
                </div>

            </div>
            <div class="row steps">
                <div class="col-md-4">
                    <h1>1.</h1>
                    <p>Play with the latest and greatest Eze Products or attend a demo.</p>
                </div>
                <div class="col-md-4">
                    <h1>2.</h1>
                    <p>Provide feedback and rate the product with our ultra slick and simple rating system.</p>
                </div>
                <div class="col-md-4">
                    <h1>3.</h1>
                    <p>Check the leaderboard to see who is winning and pleasing their "steak"-holders</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid welcome-page-lower-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>What would you like to do?</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary btn-lg" href="/teams">
                                    Rate a Product
                                    </a>
                            <span class="or">or</span>
                            <a class="btn btn-primary btn-lg" href="/results">
                                    View Leaderboard
                                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% block( 'head').append( '<link type="text/css" rel="stylesheet" href="/css/welcome.css">') %>
        <% block( 'scripts').append( '<scrip src="x.js"></scrip>') %>
