h2 span {
    margin-right: 30px;
    color: white;
}

h2 {
    color: white !important;
}

.header-bg {
    background-color: #75DC3F !important;
    color: white !important;
}

button {
    margin: 30px;
}

.welcome-page-lower-wrapper{
	background-color: #222222;
	height:250px;
	padding-top:50px;
}

.welcome-page-lower-wrapper > div > div > div > div> div > a{
		width:180px;
}

.welcome-page-lower-wrapper > div > div > div > div:nth-child(1) > div > h1{
	text-align: center;
	color:#BFE3DC;
	margin-bottom: 25px;
}


.welcome-page-lower-wrapper > div > div > div > div:nth-child(2){
	text-align: center;
	font-size: 1.5em;
	color:#BFE3DC;
}

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        


    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        
        .or {
            display: none;
        }
        
        .btn {
            margin-bottom: 20px;
        }
        
        .welcome-page-lower-wrapper{
            height:350px;
        }
        
        h2 {
            font-size: 14px;
        }
    
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }