
.panel-default>.panel-heading {
    background-image: none;
    background-color: #F5F5F5;
    height: 100%;
    
}

/*
.rank-label-bg {
    background-color: #96DED0;
}
*/

.rank-label {
    display: inline-block;
    color: white;
/*    height: 60px;*/
    font-size: 24px;
    margin-left: 20px;
    background-color: #96DED0;
    padding: 10px;
    margin-top: -10px;
    width: 70px;
    text-align: center;

}

.rank-title {
    font-size: 24px;
    margin-left: 20px;

}

.label {
/*    display: inline-block;*/
    background-color: #96DED0;
    color: #296156;
    padding: 5px;
/*    margin-bottom: -50px;*/
}



/*
h3 {
    margin-bottom: 30px;
    margin-top: -60px;
}
*/




.confidence {
    display: inline-block;
    color: white;
    height: 45px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: -15px;
    background-color: white;
    color: black;
    padding: 5px 10px 10px 10px;
    margin-top: -10px;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    
}

.confidence-value {
    font-size: 20px;
}

ul {
    padding: 0;
}

.rating-item {
    border: 1px solid #979797;
    border-radius: 3px;
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    height: 30px;
    width: 100%;
    display: table;
    
}

.rating-item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.rating-item span {
    display: table-cell;
    vertical-align: middle;
}

.rating-item span.summary-item {
    display: table-cell;
    width: 25px;
    height: 28px;
    margin-left: -3px;
    text-align: center;
    vertical-align: middle;
/*    border-radius: 3px;*/
}

.happiness {
    background-color: #DEB996;
}

.direction {
    background-color: #96C4DE;
}

.ux {
    background-color: #96DED0;
}

.resulth2 {
    color: #487B71;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.header-bg h3 {
    color: #70AA9F;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: -60px;
    
}

.mydiv {
    height: 147px;
}

.metric-group {
    display: inline-block;
}

.metric-tile {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.metric-tile h5 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.metric-tile h6 {
    text-align: center;
    font-size: 36px;
    color: white;
}


ul {
    list-style:none;
}

.feedback-user {
    color: #929292;
}




/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
        .label {
            display: none;
        }
        
        .rank-label {
            font-size: 14px;
            width: 35px;
            margin-left: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .panel-default>.panel-heading {
            padding-left: 5px;

        }
        
        .rank-title {
            font-size: 14px;
            margin-left: 5px;
        }
        
        .confidence {
            height: 36px;
        }
        
        .metric-tile {
            height: 70px;
            width: 70px;
        }
        
        .metric-tile h5 {
            font-size: 14px;
        }
        
        .metric-tile h6 {
            font-size: 28px;
        }
        
        .header-bg h3 {
            display: none;

        }
        
        .header-bg {
            height: 60px !important;
        }

        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
