body {
    padding-top: 50px;
    font-family: 'Abel', sans-serif;
}

* {
    outline: none !important;
}
.beef-back-color {
    background-color: #BFE3DC;
}
.not-so-jumbotron {
    padding-bottom: 0px;
}
.navbar-username {
    color: #fff;
}
.beef-map {
    margin-right: 6px;
    height: 50px;
}

.center{
    text-align: center;
}

.loginErrMsg{
    font-size: 1.5em;
}

/* BEGIN Slider Cow Customizations */

.slider.slider-horizontal {
    width: 100%;
}
.slider-handle.custom {
    background: transparent none;
    /* You can customize the handle and set a background image */
    background-image: url('/img/cowbutton.gif');
}
.slider-handle.custom::before {
    content: none;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -28px;
    margin-top: -18px;
    width: 56px;
    height: 40px;
}
.slider-track-high {
    background: red;
}
.slider-selection {
    background: green;
}

/* END Slider Cow Customizations */


/*Navbar*/

.userInfo > div {
    float: left;
    height: 40px;
    vertical-align: middle;
}
.userInfo > .userPhoto,
.userInfo > .userDisplayInfo {
    margin-right: 10px;
}
.userInfo > .userPhoto > img {
    height: 42px;
}
.userInfo > .signOff {
    padding-top: 10px;
}
.userInfo > .userDisplayInfo > div {
    text-align: center;
}


/*Header Styles*/

.header-bg {
    background-color: #BFE3DC;
    margin-top: -20px;
    margin-bottom: 50px;
}

h2 {
    color: #487B71;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:147px;
}

label {
    padding-bottom: 20px;
}

        label.agree {
            float: right;
        }

        .form-group {
            padding-left: 20px;
            padding-right: 20px;
/*            width: 80%;*/
/*            margin-left: 30px;*/
            
        }



#btn-submit {
    margin-top: 30px;
    float: right;
/*    align-content: center;*/

}

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        


    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
        .header-bg {
            height: 40px;
            margin-bottom: 0;
        }
        
        h2 {
            height: 40px;
            font-size: 18px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        label.agree {
            float: right;
        }
        
        .form-group {
/*            width: 80%;*/
            margin-left: 30px;
            
        }
        
        #btn-submit {
            width: 100%;
        }

        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }

