.team-page-container{
	padding-top: 50px;
	
}

 .team-page-wrapper{
	 background-color:#BFE3DC;
 }

.welcome-page-container > div:nth-child(1) > div.col-md-8 > h1{
	padding-left:15px;
	color:#487B71;
}

.welcome-page-container > div:nth-child(1) > div.col-md-8 p{
	font-size:1.5em;	
	padding-left:15px;
	color:#487B71;
}

.welcome-page-container > div:nth-child(2){
	padding:15px;
}

.welcome-page-container > div:nth-child(2) > div > h1{
	font-size:3.0em;
	color:#487B71;
}

.welcome-page-container > div:nth-child(2) > div > p{
	font-size:1.5em;	
}


.welcome-page-container > div:nth-child(3) {
	background-color: #222222;
	height:250px;
	padding-top:50px;
}

.welcome-page-container > div:nth-child(3) > div > div:nth-child(2) > div > a{
		width:180px;
}

.welcome-page-container > div:nth-child(3) > div > div:nth-child(1) > div > h1{
	text-align: center;
	color:#BFE3DC;
	margin-bottom: 25px;
}



.welcome-page-container > div:nth-child(3) > div > div:nth-child(2) > div{
	text-align: center;
	font-size: 1.5em;
	color:#BFE3DC;
}

.team-page-button{
	margin-left: auto;
	margin-right:  auto;
	margin-bottom:  10px;
	
}

.team-page-panel{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.team-page-tile{
    width: 250px;
	padding: 20px;
    margin: 10px;
    background-color: #E3F2EF;
    border: 1px solid #A4BFB9;
    border-radius: 3px;
}

label {
    margin-bottom: 20px;
    font-size: 1.8rem;
}


/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
        .team-page-tile {
/*            margin-left: 100px;*/
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 0;
            padding-top: 10px;
        }
        
        .btn {
            width: 100%;
        }
        
        label {
            margin-bottom: 0;
            padding-bottom: 10px;
        }

        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
