.welcome-page-container{
	padding-top: 50px;
	
}

 .welcome-page-wrapper{
	 background-color:#BFE3DC;
 }

.welcome-page-container > div:nth-child(1) > div.col-md-8 > h1{
	padding-left:15px;
	color:#487B71;
}

.welcome-page-container > div:nth-child(1) > div.col-md-8 p{
	font-size:1.5em;	
	padding-left:15px;
	color:#487B71;
}

.welcome-page-container > div:nth-child(2){
	padding:15px;
}

.welcome-page-container > div:nth-child(2) > div > h1{
	font-size:3.0em;
	color:#487B71;
}

.welcome-page-container > div:nth-child(2) > div > p{
	font-size:1.5em;	
}


.welcome-page-lower-wrapper{
	background-color: #222222;
	height:250px;
	padding-top:50px;
}

.welcome-page-lower-wrapper > div > div > div > div> div > a{
		width:180px;
}

.welcome-page-lower-wrapper > div > div > div > div:nth-child(1) > div > h1{
	text-align: center;
	color:#BFE3DC;
	margin-bottom: 25px;
}


.welcome-page-lower-wrapper > div > div > div > div:nth-child(2){
	text-align: center;
	font-size: 1.5em;
	color:#BFE3DC;
}

#cow-image {
    height: 180px;
    width: auto;
}

/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
        .or {
            display: none;
        }
        
        .btn {
            margin-bottom: 20px;
        }
        
        .welcome-page-lower-wrapper{
            height:350px;
        }

        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }